fr.pacman.soalight/resources-test/files-expected/PersonneService.wsdl.txt

<?xml version="1.0" ?>
<!-- en-tête -->
<wsdl:definitions
    name="PersonneService"
    targetNamespace="http://annuaireapiwsappwhite2fr/"
    xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://annuaireapiwsappwhite2fr/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- définition des types -->
  <wsdl:types>
<!-- schéma SERVICES pour target appwhite2 avec paramètres de méthodes et définitions récursives des types -->
<xs:schema targetNamespace="http://annuaireapiwsappwhite2fr/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="findListPersonneByGrade" type="tns:findListPersonneByGrade"></xs:element>
  <xs:element name="findListPersonneByGradeResponse" type="tns:findListPersonneByGradeResponse"></xs:element>
  <!-- définition paramètre méthode -->
  <xs:complexType name="findListPersonneByGrade">
    <xs:sequence>
      <xs:element minOccurs="0" name="grade" type="tns:GradeXto"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- définition retour de méthode (maxOccurs="unbounded -> Liste) -->
  <xs:complexType name="findListPersonneByGradeResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listePersonnes" type="tns:PersonneXto"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AdresseXto">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="rue" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="code postal" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="ville" type="xs:string"></xs:element>
      
      <xs:element minOccurs="0" name="proprietaire_id" type="xs:long"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompetenceXto">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="libelle" type="xs:string"></xs:element>
      
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GradeXto">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="libelle" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="trigramme" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonneXto">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="nom" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="prenom" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="civil" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="dateNaissance" type="xs:dateTime"></xs:element>
      <xs:element minOccurs="0" name="salaire" type="xs:double"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="adresses" type="tns:AdresseXto"></xs:element>
      <xs:element minOccurs="0" name="grade_id" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="grade" type="tns:GradeXto"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Competences" type="tns:CompetenceXto"></xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>

  <!-- définition du message : paramétre de méthode -->
  <wsdl:message name="findListPersonneByGrade">
    <wsdl:part element="tns:findListPersonneByGrade" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <!-- définition du message : retour de méthode -->
  <wsdl:message name="findListPersonneByGradeResponse">
    <wsdl:part element="tns:findListPersonneByGradeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <!-- définition de la classe -->
  <wsdl:portType name="PersonneServiceFacade_Itf">
    <!-- définition de l'opération -->
    <wsdl:operation name="findListPersonneByGrade">
      <!-- paramètre d'entrée de l'opération -->
      <wsdl:input message="tns:findListPersonneByGrade" name="findListPersonneByGrade">
    </wsdl:input>
      <!-- retour de l'opération -->
      <wsdl:output message="tns:findListPersonneByGradeResponse" name="findListPersonneByGradeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <!-- définition du binding -->
  <wsdl:binding name="PersonneServiceSoapBinding" type="tns:PersonneServiceFacade_Itf">
    <!-- soap de type document sur http -->
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <!-- définition soap de l'opération -->
    <wsdl:operation name="findListPersonneByGrade">
      <soap:operation soapAction=""></soap:operation>
      <wsdl:input name="findListPersonneByGrade">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="findListPersonneByGradeResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <!-- définition du service avec URL calculée ? -->
  <wsdl:service name="PersonneService">
    <wsdl:port binding="tns:PersonneServiceSoapBinding" name="PersonneServicePort">
      <soap:address location="PersonneService"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
